{
  "openapi": "3.0.1",
  "info": {
    "title": "ADP Workforce Now APIs",
    "description": "A list of openAPIs supported by Aquera for ADP Workforce Now",
    "contact": {
      "name": "Aquera",
      "email": "support@aquera.com",
      "url": "https://www.aquera.com"
    },
    "version": "1.7.0"
  },
  "externalDocs": {
    "description": "Learn more about the ADP API",
    "url": "https://api.adp.com/"
  },
  "servers": [
    {
      "url": "https://api.adp.com"
    }
  ],
  "tags": [],
  "paths": {
    "/Events": {
      "get": {
        "summary": "List Events",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "startIndex": {
                      "type": "string"
                    },
                    "itemsPerPage": {
                      "type": "string"
                    },
                    "totalResults": {
                      "type": "string"
                    },
                    "Events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/eventResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "listEvents",
        "description": "Get list of events based on pagination parameters.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "startIndex",
            "description": "The 1-based index of the first query result. Default: 1"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "count",
            "description": "Non-negative integer. Specified the desired maximum number of query results per page, e.g.: 10. Default: 1000"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter",
            "description": "It supports SCIM filter. For example, type eq \"worker.terminate\". For more reference to Events filter, follow this Aquera Configuration Guide https://support.aquera.com/hc/en-us/articles/360017945933-ADP-Workforce-Now-Configuration-Guide#h_01G10Q9Y7PM7YYMHGNZXEE1N5C"
          }
        ]
      }
    },
    "/Events/{id}": {
      "get": {
        "summary": "Fetch An Event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response structure of a single event object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "fetchSingleEvent",
        "description": "Fetch an event based on event id"
      }
    },
    "/Onboarding": {
      "get": {
        "summary": "List Meta",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "List of code values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "/applicantOnboarding/onboardingTemplateCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "listItems": {
                                  "type": "array",
                                  "description": "The list of template name and code.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPayrollProfile/customFieldGroup/codeFields/name": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPayrollProfile/customFieldGroup/codeFields/nameCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "readOnly": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPayrollProfile/customFieldGroup/codeFields/nameCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxFilingStatusCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "category": {
                                        "type": "string"
                                      },
                                      "defaultIndicator": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/job/wageLawCoverages/wageLawNameCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/preHireIndicator": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/businessCommunication/emails/notificationIndicator": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "default": {
                              "type": "boolean"
                            },
                            "dataType": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/localTaxInstructions/taxTypeCode/code": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/localTaxInstructions/taxTypeCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "readOnly": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/localTaxInstructions/taxTypeCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "codeList": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/localTaxInstructions/taxTypeCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "object",
                                            "properties": {
                                              "links": {
                                                "type": "array",
                                                "items": {
                                                  "type": "object",
                                                  "properties": {
                                                    "href": {
                                                      "type": "string"
                                                    },
                                                    "rel": {
                                                      "type": "string"
                                                    },
                                                    "mediaType": {
                                                      "type": "string"
                                                    },
                                                    "method": {
                                                      "type": "string"
                                                    },
                                                    "payloadArguments": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "object",
                                                        "properties": {
                                                          "argumentPath": {
                                                            "type": "string"
                                                          },
                                                          "argumentValue": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/otherPersonalAddresses/lineTwo": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/socialInsurancePrograms/coveredIndicator": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "default": {
                              "type": "boolean"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/communication/mobiles/areaDialing": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPersonalProfile/communication/mobiles/countryDialing": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "maxLength": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPersonalProfile/communication/mobiles/countryDialing": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/onboardingStatus/statusCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/allowanceTypeCode": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "minValue": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "maxValue": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "minLength": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "pattern": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "readOnly": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "maxLength": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "object",
                                            "properties": {}
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxAllowances/taxAllowanceAmount": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/otherPersonalAddresses/lineOne": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/communication/pagers/nameCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPersonalProfile/communication/pagers/nameCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "readOnly": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPersonalProfile/communication/pagers/nameCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/communication/faxes/access": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/governmentIDs/statusCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPayrollProfile/baseRemuneration/recordingBasisCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "category": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usStateTaxInstructions/stateIncomeTaxInstructions/workedInJurisdictionIndicator": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "default": {
                              "type": "boolean"
                            },
                            "dataType": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/workersCompensationCoverage/coverageStatus": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string"
                                      },
                                      "rel": {
                                        "type": "string"
                                      },
                                      "mediaType": {
                                        "type": "string"
                                      },
                                      "method": {
                                        "type": "string"
                                      },
                                      "payloadArguments": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "argumentPath": {
                                              "type": "string"
                                            },
                                            "argumentValue": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/additionalTaxAmount/amount": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minValue": {
                              "type": "number"
                            },
                            "maxValue": {
                              "type": "number"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "readOnly": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxWithholdingStatus/statusCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "dataType": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/job/occupationalClassifications": {
                          "type": "object",
                          "properties": {
                            "minItems": {
                              "type": "number"
                            },
                            "maxItems": {
                              "type": "number"
                            },
                            "uniqueItems": {
                              "type": "boolean"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/communication/mobiles/countryDialing": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/preHireIndicator": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "default": {
                              "type": "boolean"
                            },
                            "dataType": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/raceCode/identificationMethodCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "category": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPayrollProfile/baseRemuneration/hourlyRateAmount": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/genderReportingDetails/reportedGenderCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "category": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/additionalIncomeAmount/amount": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minValue": {
                              "type": "number"
                            },
                            "maxValue": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "readOnly": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalIncomeTaxInstruction/taxWithholdingStatus/statusCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "dataType": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/businessCommunication/landlines/extension": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usFederalTaxInstruction/federalUnemploymentTaxInstruction/taxWithholdingStatus/statusCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/homeWorkLocation/address/subdivisionCode2/code": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "longLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/onboardingExperienceCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string"
                                      },
                                      "rel": {
                                        "type": "string"
                                      },
                                      "mediaType": {
                                        "type": "string"
                                      },
                                      "method": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/preHireIndicator": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantTaxProfile/usStateTaxInstructions/suiTaxInstruction/taxReportingTypeCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/businessCommunication/mobiles/dialNumber": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantWorkerProfile/businessCommunication/mobiles/countryDialing": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "maxLength": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantWorkerProfile/businessCommunication/mobiles/countryDialing": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
                                            "type": "number"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "/applicantOnboarding/applicantWorkerProfile/businessCommunication/pagers/countryDialing": {
                          "type": "object",
                          "properties": {
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "shortLabelName": {
                              "type": "string"
                            },
                            "minLength": {
                              "type": "number"
                            },
                            "maxLength": {
                              "type": "number"
                            },
                            "pattern": {
                              "type": "string"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/communication/faxes": {
                          "type": "object",
                          "properties": {
                            "minItems": {
                              "type": "number"
                            },
                            "maxItems": {
                              "type": "number"
                            },
                            "uniqueItems": {
                              "type": "boolean"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/maritalStatusCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "codeListTitle": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "href": {
                                        "type": "string"
                                      },
                                      "rel": {
                                        "type": "string"
                                      },
                                      "mediaType": {
                                        "type": "string"
                                      },
                                      "method": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            }
                          }
                        },
                        "/applicantOnboarding/applicantPersonalProfile/communication/faxes/nameCode": {
                          "type": "object",
                          "properties": {
                            "codeList": {
                              "type": "object",
                              "properties": {
                                "listItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "itemID": {
                                        "type": "string"
                                      },
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "readOnly": {
                              "type": "boolean"
                            },
                            "optional": {
                              "type": "boolean"
                            },
                            "hidden": {
                              "type": "boolean"
                            },
                            "sequence": {
                              "type": "number"
                            },
                            "dependencies": {
                              "type": "object",
                              "properties": {
                                "optional": {
                                  "type": "object",
                                  "properties": {
                                    "allOf": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "attributes": {
                                            "type": "object",
                                            "properties": {
                                              "/applicantOnboarding/applicantPersonalProfile/communication/faxes/nameCode": {
                                                "type": "object",
                                                "properties": {
                                                  "pattern": {
                                                    "type": "string"
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "value": {
[...]
